<div class="actions">
	<button style="margin-right:10px" (click)="selectDocumentType('doc')">Doc</button>
	<button style="margin-right:10px" (click)="selectDocumentType('xl')">Excel</button>
	<button  style="margin-right:10px" (click)="selectDocumentType('ppt')">PPT</button>
	<button  style="margin-right:10px" (click)="selectDocumentType('csv')">CSV</button>
	<button  style="margin-right:10px" (click)="selectDocumentType('pdf')">Pdf</button>
	<button  style="margin-right:10px" (click)="selectDocumentType('jpg')">Jpg</button>
</div>
<div class="office-viewer">
	<iframe [src]='urlSafe' width='100%' height='100%' frameborder='0'></iframe>
</div>